*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f172a,#1e293b,#334155);
color:white;
}

.container,
#result{
width:700px;
padding:40px;
background:rgba(255,255,255,.1);
backdrop-filter:blur(20px);
border-radius:20px;
box-shadow:0 0 25px rgba(0,255,255,.3);
}

h1{
text-align:center;
margin-bottom:30px;
color:cyan;
}

.progress{
height:10px;
background:#444;
border-radius:10px;
overflow:hidden;
margin-bottom:25px;
}

#progressBar{
height:100%;
width:0%;
background:cyan;
transition:.5s;
}

#question{
margin-bottom:25px;
}

.option{
width:100%;
padding:15px;
margin:10px 0;
border:none;
border-radius:15px;
background:#1e293b;
color:white;
cursor:pointer;
transition:.3s;
}

.option:hover{
transform:translateX(10px);
background:#334155;
}

.correct{
background:#00c853 !important;
}

.wrong{
background:#f44336 !important;
}

.bottom{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:25px;
}

#nextBtn{
padding:12px 25px;
border:none;
border-radius:20px;
background:cyan;
cursor:pointer;
}

.hide{
display:none;
}